{% extends "base.html" %}

{% block title %}Home{% endblock %}
 
{% block content %}
{% if user.is_authenticated %}
{{ user.username }}
{% endif %}
{% for article in articles %}
    <hr>
    <a href="{% url 'comms:user_article' article.user.username article.id %}">
        <object><a href="{% url 'comms:user_articles' article.user.username %}"><h4>@{{ article.user.username}}</h4></a></object>
        <p>{{ article.text }}</p>
        <p>{{ article.created_date }}</p>
    </a>
{% endfor %}
{% endblock %}